<section class="home">
  <img src="../../assets/images/background3.jpg" />
</section>

<form>
  <div class="container">
    <h1>Sign Up</h1>

    <label for="email"><b>Username</b></label>
    <input
      type="text"
      name="username"
      placeholder="Enter Username"
      (keyup)="onkey($event, 'username')"
    />
    <p *ngIf="!valid.username" class="error-msg">
      <small>Username should be greaer than 5 words</small>
    </p>
    <label for="email"><b>Email</b></label>
    <input
      type="text"
      placeholder="Enter Email"
      name="email"
      id="email"
      (keyup)="onkey($event, 'email')"
    />
    <p *ngIf="!valid.email" class="error-msg"><small>Email is invalid</small></p>

    <label for="psw"><b>Password</b></label>
    <input
      type="password"
      placeholder="Enter Password"
      name="psw"
      (keyup)="onkey($event, 'password')"
    />
    <p *ngIf="!valid.password" class="error-msg"><small>Password incorrect</small></p>
    <label for="password"><b>Confirm Password</b></label>

    <input
      type="password"
      name="ConfirmPassword"
      placeholder="ConfirmPassword"
      (keyup)="onkey($event, 'ConfirmPassword')"
    />
    <p *ngIf="!valid.password" class="error-msg"><small>Password doesnot match!</small></p>

    <div class="clearfix">
      <button type="submit" class="btn" routerLink="/Mainpage">Sign Up</button><br />
      <button class="btn btn-primary signin" routerLink="/Login">
        Sign In
      </button>
    </div>
  </div>
</form>
