<nav class="navbar navbar-expand-lg navbar-collapse">
  <a class="navbar-brand" routerLink=""><b>Games Arena</b></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-primary">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search 5000+ games"
        aria-label="Search"
      />
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink=""
          ><b>Home</b> <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="About"><b>About</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Mainpage"><b>Games</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Reviews"><b>Reviews</b></a>
      </li>
      
      <div class="navbar__buttons">

        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" routerLink="Login">
        Sign in
      </button>
      
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" routerLink="Signup">
        Sign Up
      </button>
		
	</div>
<!-- <div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Action
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div> -->
    </ul>
  </div>
</nav>








<router-outlet></router-outlet>
<app-bottombar></app-bottombar>
