




<section class="about container">
    
    <h1 class="text-center mb-5">About</h1>

      <p>
        A content rating (also known as maturity rating) rates the suitability of TV broadcasts, movies, comic books, or video games to its audience. A content rating usually places a media source into one of a number of different categories, to show which age group is suitable to view media and entertainment.
    </p>
    <p>
        Online gaming is one of the widely used leisure activities by many people. For some people it is said that playing video games has a number of reasons to be played, for it can be a stress reliever, challenge and competition, relaxation, enjoyment, social interaction, and even mentally escaping from the real world.
        
    </p>
    <p>
        Our primary mission is to help parents make informed decisions about the video games and apps their children play. Our Advertising Review Council actively enforces industry-adopted advertising guidelines, and our Privacy Certified program helps ensure responsible web and mobile privacy practices.
    </p>
  




    <br>
    <br>
    <br>

    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>

</section>