<form class="forgot-form">
  <h2 class="login-heading">Forgot Your Password?</h2>
  <h3 class="login-enter">Please enter your Email</h3>
  <input type="text" placeholder="email" class="email-css" required />
  <br />
  <input type="text" placeholder="Old Password" class="email-css" required />
  <br />
  <input type="text" placeholder="New Password" class="email-css" required />
  <br />
  <button class="reset-button">Reset Password</button>
  <br />
  <button class="btn btn-primary back"
    routerLink="/">Back
  </button>
</form>

