<section class="home">
  <img src="../../assets/images/background1.jpg" />

  <div class="homecontent">
    <h2>You are about to experience the Virtual Gaming World</h2>
    <a routerLink="Signup" class="btn btn-lg btn-light">Sign Up</a> &nbsp;
    <a routerLink="Login" class="btn btn-lg btn-primary">Sign In</a>
  </div>
</section>

<section class="home">
  <img src="../../assets/images/background3.jpg" />
</section>

<section class="home">
  <img src="../../assets/images/backround.jpg" />
</section>
<section class="home">
  <img src="../../assets/images/background2.jpg" />
</section>
