
<section id="section">
  <form class="form-inline">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Sort</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Choose...</option>
    <option value="1">Rating</option>
    <option value="2">Latest</option>
    <option value="3">Popularity</option>
  </select>

  <div class="custom-control custom-checkbox my-1 mr-sm-2">
    <input type="checkbox" class="custom-control-input" id="customControlInline">
    <label class="custom-control-label" for="customControlInline">Remember my preference</label>
  </div>

  <button type="submit" class="btn btn-primary my-1">Submit</button>
</form>

</section>













<!--section------------------->
<section id="section">
  <!--heading----------->
  <h1 class="p-headind"><b> Games Arena</b></h1>
  <p><b>Games are based on Popular Rating 2021.</b></p>
  <br />
  <!--section-container------------>
  <div class="p-container">
    <!--section-box-1-------->
    <div class="p-box">
      <!--text--------->
      <div class="overlay-text" routerLink="/">
        <h1>Disco Elysium: The Final Cut</h1>
        <p><b>Platform: PC</b></p>
      </div>
      <!--bg-img------------->
      <img src="../../assets/images/image1.jpg" />
    </div>
    <!--section-box-2-------->
    <div class="p-box" routerLink="/">
      <!--text--------->
      <div class="overlay-text">
        <h1>The House in Fata Morgana - Dreams of the Revenants Edition</h1>
        <p><b>Platform: Switch</b></p>
      </div>

      <!--bg-img------------->
      <img src="../../assets/images/image2.png" />
    </div>
    <!--section-box-3-------->
    <div class="p-box" routerLink="/">
      <!--text--------->
      <div class="overlay-text">
        <h1>Tetris Effect: Connected</h1>
        <p><b>Platform: Switch</b></p>
      </div>
      <!--bg-img------------->
      <img src="../../assets/images/image33.jpg" />
    </div>
    <!--section-box-4-------->
    <div class="p-box" routerLink="/">
      <!--text--------->
      <div class="overlay-text">
        <h1>Hades</h1>
        <p><b>Platform: Xbox Series X</b></p>
      </div>
      <!--bg-img------------->
      <img src="../../assets/images/image4.jpg" />
    </div>
    <!--section-box-5-------->
    <div class="p-box" routerLink="/">
      <!--text--------->
      <div class="overlay-text">
        <h1>Forza Horizon 5</h1>
        <p><b>Platform: Xbox Series X</b></p>
      </div>
      <!--bg-img------------->
      <img src="../../assets/images/image5.jpg" />
    </div>
    <!--section-box-6-------->
    <div class="p-box" routerLink="/">
      <!--text--------->
      <div class="overlay-text">
        <h1>Psychonauts 2</h1>
        <p><b>Platform: Xbox One</b></p>
      </div>
      <!--bg-img------------->
      <img src="../../assets/images/image6.jpg" />
    </div>
    <div class="p-box">
      <!--text--------->
      <div class="overlay-text" routerLink="/">
        <h1>Tony Hawk's Pro Skater </h1>
        <p><b>Platform: PlayStation 5</b></p>
      </div>
      <!--bg-img------------->
      <img src="../../assets/images/image77.jpg" />
    </div>
    <!--section-box-2-------->
    <div class="p-box" routerLink="/">
      <!--text--------->
      <div class="overlay-text">
        <h1>Mass Effect Legendary Edition</h1>
        <p><b>Platform: Xbox One</b></p>
        <p></p>
      </div>

      <!--bg-img------------->
      <img src="../../assets/images/image8.png" />
    </div>
    
  </div>
</section>





<!--section------------------->
<section id="section">
  
  <!--section-container------------>
  <div class="p-container">
    <!--section-box-1-------->
    <div class="p-box">
      <!--text--------->
      <div class="overlay-text" routerLink="/">
        <h1>Disco Elysium: The Final Cut</h1>
        <p><b>Platform: PC</b></p>
      </div>
      <!--bg-img------------->
      <img src="../../assets/images/image1.jpg" />
    </div>
    <!--section-box-2-------->
    <div class="p-box" routerLink="/">
      <!--text--------->
      <div class="overlay-text">
        <h1>The House in Fata Morgana - Dreams of the Revenants Edition</h1>
        <p><b>Platform: Switch</b></p>
      </div>

      <!--bg-img------------->
      <img src="../../assets/images/image2.png" />
    </div>
    <!--section-box-3-------->
    <div class="p-box" routerLink="/">
      <!--text--------->
      <div class="overlay-text">
        <h1>Tetris Effect: Connected</h1>
        <p><b>Platform: Switch</b></p>
      </div>
      <!--bg-img------------->
      <img src="../../assets/images/image33.jpg" />
    </div>
    <!--section-box-4-------->
    <div class="p-box" routerLink="/">
      <!--text--------->
      <div class="overlay-text">
        <h1>Hades</h1>
        <p><b>Platform: Xbox Series X</b></p>
      </div>
      <!--bg-img------------->
      <img src="../../assets/images/image4.jpg" />
    </div>
    <!--section-box-5-------->
    <div class="p-box" routerLink="/">
      <!--text--------->
      <div class="overlay-text">
        <h1>Forza Horizon 5</h1>
        <p><b>Platform: Xbox Series X</b></p>
      </div>
      <!--bg-img------------->
      <img src="../../assets/images/image5.jpg" />
    </div>
    <!--section-box-6-------->
    <div class="p-box" routerLink="/">
      <!--text--------->
      <div class="overlay-text">
        <h1>Psychonauts 2</h1>
        <p><b>Platform: Xbox One</b></p>
      </div>
      <!--bg-img------------->
      <img src="../../assets/images/image6.jpg" />
    </div>
    <div class="p-box">
      <!--text--------->
      <div class="overlay-text" routerLink="/">
        <h1>Tony Hawk's Pro Skater </h1>
        <p><b>Platform: PlayStation 5</b></p>
      </div>
      <!--bg-img------------->
      <img src="../../assets/images/image77.jpg" />
    </div>
    <!--section-box-2-------->
    <div class="p-box" routerLink="/">
      <!--text--------->
      <div class="overlay-text">
        <h1>Mass Effect Legendary Edition</h1>
        <p><b>Platform: Xbox One</b></p>
        <p></p>
      </div>

      <!--bg-img------------->
      <img src="../../assets/images/image8.png" />
    </div>
   
  </div>
</section>
