#section{
    width:100%;
    box-sizing: border-box;
    font-family: calibri;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 2% 20px 2%;
}
 
.p-headind{
    font-family: calibri;
    font-size: 1.7rem;
    text-align: center;
    color:#FFFFFF;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #292929;
    letter-spacing: 2px;
    border-radius: 3px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
    
}
.p-box{
 
    background-color: #1F1F1F;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
    position: relative;
 
}
.p-box img{
 
width: 100%;
    height: 100%;
    object-fit: cover;
}
.p-container{
    width: 90%;
    height:70vh;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}
.overlay-text{
    font-family: calibri;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(23,209,172,0.80);
    display:none;
    
}
.overlay-text h1,p{
    color: #FFFFFF;
}
.overlay-text h1{
    font-size: 2.2rem;
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
    
}
.overlay-text p{
    font-size: 1.2rem;
    margin: 0px;
 
 
}
.p-box:hover .overlay-text{
    display: flex;
    
}