<!--section------------------->
<section id="section">
  <!--heading----------->
  <h1 class="p-headind">Check Availability</h1>
  <small>This page shows the availability of the busses</small>
  <!--section-container------------>
  <div class="p-container">
    <!--section-box-1-------->
    <div class="p-box">
      <!--text--------->
      <div class="overlay-text" routerLink="/">
        <h1>Garuda</h1>
        <p>20 seats</p>
      </div>
      <!--bg-img------------->
      <img src="../../assets/back.jpg" />
    </div>
    <!--section-box-2-------->
    <div class="p-box" routerLink="/">
      <!--text--------->
      <div class="overlay-text">
        <h1>INDRA</h1>
        <p>15 seats</p>
        <p></p>
      </div>

      <!--bg-img------------->
      <img src="../../assets/back.jpg" />
    </div>
    <!--section-box-3-------->
    <div class="p-box" routerLink="/">
      <!--text--------->
      <div class="overlay-text">
        <h1>SUPER LUXURY</h1>
        <p>9 seats</p>
      </div>
      <!--bg-img------------->
      <img src="../../assets/back.jpg" />
    </div>
    <!--section-box-4-------->
    <div class="p-box" routerLink="/">
      <!--text--------->
      <div class="overlay-text">
        <h1>VAJRA</h1>
        <p>21 seats</p>
      </div>
      <!--bg-img------------->
      <img src="../../assets/back.jpg" />
    </div>
    <!--section-box-5-------->
    <div class="p-box" routerLink="/">
      <!--text--------->
      <div class="overlay-text">
        <h1>KESINENI</h1>
        <p>2 seates</p>
      </div>
      <!--bg-img------------->
      <img src="../../assets/back.jpg" />
    </div>
    <!--section-box-6-------->
    <div class="p-box" routerLink="/">
      <!--text--------->
      <div class="overlay-text">
        <h1>RIDER</h1>
        <p>1 seat</p>
      </div>
      <!--bg-img------------->
      <img src="../../assets/back.jpg" />
    </div>
  </div>
</section>