<div class="container">
  <div class="product-image">
    <!-- <img src="../../assets/images/image1.jpg" alt="" class="product-logo">   -->
  <img src="../../assets/images/image1.jpg" alt="" class="product-pic"> 
    <!-- <div class="dots">
      <a href="#!" class="active"><i>1</i></a>
      <a href="#!"><i>2</i></a>
      <a href="#!"><i>3</i></a>
      <a href="#!"><i>4</i></a>
    </div> -->
  </div>
  
  <div class="product-details">
    <header>
      <h1 class="title">Disco Elysium: The Final Cut</h1>
      <span class="colorCat">Platform: PC</span><br>
      <div class="price">
        <a href="#!" class="active">★</a>
        <a href="#!" class="active">★</a>
        <a href="#!" class="active">★</a>
        <a href="#!">★</a>
        <a href="#!">★</a>
      </div>
       <div class="rate">
        
      </div>
      
    </header>
    <article>
     
      <h5>Description</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </article>
    <div class="controls">
      <div class="color">
        <h5>color</h5>
        <ul>
          <li><a href="#!" class="colors color-bdot1 active"></a></li>
          <li><a href="#!" class="colors color-bdot2"></a></li>
          <li><a href="#!" class="colors color-bdot3"></a></li>
          <li><a href="#!" class="colors color-bdot4"></a></li>
          <li><a href="#!" class="colors color-bdot5"></a></li>
        </ul>
      </div>
      <div class="size">
        <h5>size</h5>
        <a href="#!" class="option">(UK 8)</a>
      </div>
      <div class="qty">
        <h5>qty</h5>
        <a href="#!" class="option">(1)</a>
      </div>
    </div>
    <div class="footer">
      <button type="button">
        <img src="http://co0kie.github.io/codepen/nike-product-page/cart.png" alt="">
        <span>add to cart</span>
      </button>
       <a href="#!"><img src="http://co0kie.github.io/codepen/nike-product-page/share.png" alt=""></a>
    </div>
  </div>
  
</div>